; {{ ansible_managed }}

[Unit]
Description=Twisted connect proxy
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/twisted-connect-proxy
ExecStartPre=/usr/bin/test -x {{ twisted_connect_proxy_install_prefix }}/twisted-connect-proxy
ExecStart=/bin/sh -c \
  '{{ twisted_connect_proxy_install_prefix }}/twisted-connect-proxy ${DAEMON_ARGS} >> {{ twisted_connect_proxy_log_file }} 2>&1'

PIDFile={{ twisted_connect_proxy_pid_file }}
Restart=always
User={{ twisted_connect_proxy_user }}
Group={{ twisted_connect_proxy_group }}

[Install]
WantedBy=multi-user.target
