# {{ ansible_managed }}

# twisted-connect-proxy

description "Twisted connect proxy"
author      "Mischa ter Smitten"

start on net-device-up
stop on runlevel [01S6]

respawn
umask 022

pre-start script
  test -x {{ twisted_connect_proxy_install_prefix }}/twisted-connect-proxy || { stop; exit 0; }

  install -d -o {{ twisted_connect_proxy_user }} -g {{ twisted_connect_proxy_group }} -m 0755 {{ twisted_connect_proxy_log_file | dirname }} || true
end script

script
  exec start-stop-daemon \
    --start \
    --chuid {{ twisted_connect_proxy_user }} \
    --make-pidfile \
    --pidfile {{ twisted_connect_proxy_pid_file }} \
    --exec {{ twisted_connect_proxy_install_prefix }}/twisted-connect-proxy \
    -- {{ twisted_connect_proxy_port }}{% for key, value in twisted_connect_proxy_options.iteritems() %} -{{ key }} {{ value }}{% endfor %} \
    >> {{ twisted_connect_proxy_log_file }} 2>&1
end script
